web/WEB-INF/wsdl/localhost_8080/OnlineMovieStore/OmsApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.oms/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.oms/" name="OmsApp">
<types>
<xsd:schema>
<xsd:import namespace="http://www.uts.edu.au/31284/oms" schemaLocation="http://localhost:8080/OnlineMovieStore/OmsApp?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://soap.oms/" schemaLocation="http://localhost:8080/OnlineMovieStore/OmsApp?xsd=2"/>
</xsd:schema>
</types>
<message name="getOrderApp">
<part name="parameters" element="tns:getOrderApp"/>
</message>
<message name="getOrderAppResponse">
<part name="parameters" element="tns:getOrderAppResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="fetchOrders">
<part name="parameters" element="tns:fetchOrders"/>
</message>
<message name="fetchOrdersResponse">
<part name="parameters" element="tns:fetchOrdersResponse"/>
</message>
<message name="fetchUser">
<part name="parameters" element="tns:fetchUser"/>
</message>
<message name="fetchUserResponse">
<part name="parameters" element="tns:fetchUserResponse"/>
</message>
<message name="fetchUsers">
<part name="parameters" element="tns:fetchUsers"/>
</message>
<message name="fetchUsersResponse">
<part name="parameters" element="tns:fetchUsersResponse"/>
</message>
<message name="getMovieStoreApp">
<part name="parameters" element="tns:getMovieStoreApp"/>
</message>
<message name="getMovieStoreAppResponse">
<part name="parameters" element="tns:getMovieStoreAppResponse"/>
</message>
<message name="fetchOrderUsingId">
<part name="parameters" element="tns:fetchOrderUsingId"/>
</message>
<message name="fetchOrderUsingIdResponse">
<part name="parameters" element="tns:fetchOrderUsingIdResponse"/>
</message>
<message name="fetchOrderUsingEmail">
<part name="parameters" element="tns:fetchOrderUsingEmail"/>
</message>
<message name="fetchOrderUsingEmailResponse">
<part name="parameters" element="tns:fetchOrderUsingEmailResponse"/>
</message>
<message name="fetchOrderUsingStatus">
<part name="parameters" element="tns:fetchOrderUsingStatus"/>
</message>
<message name="fetchOrderUsingStatusResponse">
<part name="parameters" element="tns:fetchOrderUsingStatusResponse"/>
</message>
<message name="fetchOrderUsingTitle">
<part name="parameters" element="tns:fetchOrderUsingTitle"/>
</message>
<message name="fetchOrderUsingTitleResponse">
<part name="parameters" element="tns:fetchOrderUsingTitleResponse"/>
</message>
<portType name="OmsSOAP">
<operation name="getOrderApp">
<input wsam:Action="http://soap.oms/OmsSOAP/getOrderAppRequest" message="tns:getOrderApp"/>
<output wsam:Action="http://soap.oms/OmsSOAP/getOrderAppResponse" message="tns:getOrderAppResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.oms/OmsSOAP/getOrderApp/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.oms/OmsSOAP/getOrderApp/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.oms/OmsSOAP/getOrderApp/Fault/Exception"/>
</operation>
<operation name="fetchOrders">
<input wsam:Action="http://soap.oms/OmsSOAP/fetchOrdersRequest" message="tns:fetchOrders"/>
<output wsam:Action="http://soap.oms/OmsSOAP/fetchOrdersResponse" message="tns:fetchOrdersResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrders/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrders/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.oms/OmsSOAP/fetchOrders/Fault/Exception"/>
</operation>
<operation name="fetchUser">
<input wsam:Action="http://soap.oms/OmsSOAP/fetchUserRequest" message="tns:fetchUser"/>
<output wsam:Action="http://soap.oms/OmsSOAP/fetchUserResponse" message="tns:fetchUserResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.oms/OmsSOAP/fetchUser/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.oms/OmsSOAP/fetchUser/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.oms/OmsSOAP/fetchUser/Fault/Exception"/>
</operation>
<operation name="fetchUsers">
<input wsam:Action="http://soap.oms/OmsSOAP/fetchUsersRequest" message="tns:fetchUsers"/>
<output wsam:Action="http://soap.oms/OmsSOAP/fetchUsersResponse" message="tns:fetchUsersResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.oms/OmsSOAP/fetchUsers/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.oms/OmsSOAP/fetchUsers/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.oms/OmsSOAP/fetchUsers/Fault/Exception"/>
</operation>
<operation name="getMovieStoreApp">
<input wsam:Action="http://soap.oms/OmsSOAP/getMovieStoreAppRequest" message="tns:getMovieStoreApp"/>
<output wsam:Action="http://soap.oms/OmsSOAP/getMovieStoreAppResponse" message="tns:getMovieStoreAppResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.oms/OmsSOAP/getMovieStoreApp/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.oms/OmsSOAP/getMovieStoreApp/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.oms/OmsSOAP/getMovieStoreApp/Fault/Exception"/>
</operation>
<operation name="fetchOrderUsingId">
<input wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingIdRequest" message="tns:fetchOrderUsingId"/>
<output wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingIdResponse" message="tns:fetchOrderUsingIdResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingId/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingId/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingId/Fault/Exception"/>
</operation>
<operation name="fetchOrderUsingEmail">
<input wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingEmailRequest" message="tns:fetchOrderUsingEmail"/>
<output wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingEmailResponse" message="tns:fetchOrderUsingEmailResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingEmail/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingEmail/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingEmail/Fault/Exception"/>
</operation>
<operation name="fetchOrderUsingStatus">
<input wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingStatusRequest" message="tns:fetchOrderUsingStatus"/>
<output wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingStatusResponse" message="tns:fetchOrderUsingStatusResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingStatus/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingStatus/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingStatus/Fault/Exception"/>
</operation>
<operation name="fetchOrderUsingTitle">
<input wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingTitleRequest" message="tns:fetchOrderUsingTitle"/>
<output wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingTitleResponse" message="tns:fetchOrderUsingTitleResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingTitle/Fault/JAXBException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingTitle/Fault/IOException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.oms/OmsSOAP/fetchOrderUsingTitle/Fault/Exception"/>
</operation>
</portType>
<binding name="OmsSOAPPortBinding" type="tns:OmsSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOrderApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getMovieStoreApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchOrderUsingId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchOrderUsingEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchOrderUsingStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fetchOrderUsingTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="OmsApp">
<port name="OmsSOAPPort" binding="tns:OmsSOAPPortBinding">
<soap:address location="http://localhost:8080/OnlineMovieStore/OmsApp"/>
</port>
</service>
</definitions>