web/WEB-INF/wsdl/localhost_8080/OnlineMovieStore/OmsApp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:ns1="http://soap.oms/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.uts.edu.au/31284/oms">

<xs:import namespace="http://soap.oms/" schemaLocation="http://localhost:8080/OnlineMovieStore/OmsApp?xsd=2"/>

<xs:element name="history" type="ns1:orders"/>

<xs:element name="order" type="ns1:order"/>

<xs:element name="user" type="ns1:user"/>

<xs:element name="users" type="ns1:users"/>




</xs:schema>