web/WEB-INF/wsdl/localhost_8080/OnlineMovieStore/OmsApp.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.oms/" xmlns:ns1="http://www.uts.edu.au/31284/oms" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.oms/">

<xs:import namespace="http://www.uts.edu.au/31284/oms" schemaLocation="http://localhost:8080/OnlineMovieStore/OmsApp?xsd=1"/>

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="fetchOrderUsingEmail" type="tns:fetchOrderUsingEmail"/>

<xs:element name="fetchOrderUsingEmailResponse" type="tns:fetchOrderUsingEmailResponse"/>

<xs:element name="fetchOrderUsingId" type="tns:fetchOrderUsingId"/>

<xs:element name="fetchOrderUsingIdResponse" type="tns:fetchOrderUsingIdResponse"/>

<xs:element name="fetchOrderUsingStatus" type="tns:fetchOrderUsingStatus"/>

<xs:element name="fetchOrderUsingStatusResponse" type="tns:fetchOrderUsingStatusResponse"/>

<xs:element name="fetchOrderUsingTitle" type="tns:fetchOrderUsingTitle"/>

<xs:element name="fetchOrderUsingTitleResponse" type="tns:fetchOrderUsingTitleResponse"/>

<xs:element name="fetchOrders" type="tns:fetchOrders"/>

<xs:element name="fetchOrdersResponse" type="tns:fetchOrdersResponse"/>

<xs:element name="fetchUser" type="tns:fetchUser"/>

<xs:element name="fetchUserResponse" type="tns:fetchUserResponse"/>

<xs:element name="fetchUsers" type="tns:fetchUsers"/>

<xs:element name="fetchUsersResponse" type="tns:fetchUsersResponse"/>

<xs:element name="getUserApp" type="tns:getUserApp"/>

<xs:element name="getUserAppResponse" type="tns:getUserAppResponse"/>

<xs:element name="getOrderApp" type="tns:getOrderApp"/>

<xs:element name="getOrderAppResponse" type="tns:getOrderAppResponse"/>

<xs:complexType name="getUserApp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserAppResponse">
<xs:sequence>
<xs:element name="return" type="tns:userApplication" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userApplication">
<xs:sequence>
<xs:element name="filePath" type="xs:string" minOccurs="0"/>
<xs:element name="users" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="movie" type="tns:movie" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movie">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="genre" type="xs:string" minOccurs="0"/>
<xs:element name="releasedate" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
<xs:element name="availablecopies" type="xs:int"/>
<xs:element name="purchased" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrders">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchOrdersResponse">
<xs:sequence>
<xs:element name="return" type="tns:orders" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orders">
<xs:sequence>
<xs:element name="order" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="order">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="movie" type="tns:movie" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="paymentmethod" type="xs:string" minOccurs="0"/>
<xs:element name="saletotal" type="xs:double"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOrderApp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOrderAppResponse">
<xs:sequence>
<xs:element name="return" type="tns:orderApplication" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="orderApplication">
<xs:sequence>
<xs:element name="orders" type="tns:orders" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderUsingEmail">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderUsingEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderUsingTitle">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderUsingTitleResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderUsingId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderUsingIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderUsingStatus">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchOrderUsingStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>